

:root {
  /* Core colors that can be customized by customers */
  --df-primary-color: rgb(19, 42, 72);
  --df-secondary-color: rgb(32, 70, 121);
  --df-tertiary-color: rgb(28, 46, 55);
  
  /* Background colors */
  --df-bg-primary: white;
  --df-bg-secondary: rgb(32, 70, 121);
  
  /* Text colors */
  --df-text-primary: white;
  --df-text-secondary: rgb(170, 170, 170);
  --df-text-contrast: white;
  
  /* Alert/Exception colors */
  --df-alert-bg: #FE4550;
  --df-alert-border: #FE4550;
  --df-alert-text: #FFFFFF;
  
  /* Border and outline */
  --df-border-color: rgba(31, 41, 55, 0.2);
  --df-focus-outline: transparent;
  
  /* Common transparency */
  --df-transparent: transparent;
  /* Need slightly darker gray for disabled text */
  --df-disabled: rgba(19, 42, 72, 0.5);

  --df-font-family: "Open Sans", "Helvetica Neue", Helvetica;
  /* --df-mono-font-family: monospace; */
  --df-font-size-base: 16px;

  --df-border-width: 0;
  --df-border-radius: 20px;
  --df-line-height: 1.5;
  --df-flex-gap: 12px;
}

.nlux-comp-composer>textarea:placeholder {
  color: var(--df-disabled) !important;
}

.nlux-comp-composer>textarea{
  color: black !important;
}

.nlux-comp-welcomeMessage {
  color: black !important;
}
