@import "tailwindcss";

:root {
  /* Core colors that can be customized by customers */
  --df-primary-color: #007bff;
  
  /* Background colors */
  --df-bg-primary: #ffffff;
  --df-bg-secondary: #f4f4f5;
  
  /* Text colors */
  --df-text-primary: #09090b;
  --df-text-secondary: rgba(91,97,110,0.2);
  --df-text-contrast: #ffffff;
  
  /* Alert/Exception colors */
  --df-alert-bg: tomato;
  --df-alert-border: darkred;
  --df-alert-text: white;
  
  /* Border and outline */
  --df-border-color: transparent;
  --df-focus-outline: transparent;
  
  /* Common transparency */
  --df-transparent: transparent;
  /* Need slightly darker gray for disabled text */
  --df-disabled: rgba(0, 123, 255, 0.5)
}

/* Dark mode overrides */
[data-color-scheme='dark'] {
  /* Background colors */
  --df-bg-primary: #151515;
  --df-bg-secondary: #494949;
  
  /* Text colors */
  --df-text-primary: #ffffff;
  --df-text-secondary: #71717a;
  --df-text-contrast: #ffffff;
} 