@import './css/font.css';
@import './css/light.css';
@import './css/dark.css';
@import './css/layout.css';
@import './css/icons.css';
@import './css/components.css';

.chat-interface-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; /* Revert to percentage height */
  width: 100%;
  overflow: hidden;
}

.chat-interface-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}