.chat-interface-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  /* TODO: We need to figure out how to handle the height of the chat interface */
  height: calc(100% - 60px);
}

.chat-interface-content {
  flex: 1;
  overflow: hidden;
} 