.chat-widget {
  position: fixed;
  z-index: 9999;

  /* Position */
  right: 1.25rem; /* 5px */
  bottom: 1.25rem; /* 5px */
}

.chat-widget ::-webkit-scrollbar-track {
  background: var(--df-bg-primary);
}

.chat-widget ::-webkit-scrollbar-thumb {
  background: var(--df-primary-color);
  border-radius: 4px;
}

/* For Firefox */
.chat-widget * {
  scrollbar-width: thin;
  scrollbar-color: var(--df-primary-color) var(--df-bg-primary);
}